@media (max-width: 700px) {
    #diferenciais-container {
        flex-direction: column !important;
    }

    #diferenciais-container div p {
        margin-left: 0;
        margin-right: 0;
    }

    #container-inicial {
        flex-direction: column !important;
    }
}