

*{
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap');

:root {

    --cor0: #F9A826;
    --cor1: #FFCB79;
}



/* IMAGEM LOGO */

#img-logo {
  height: auto;
  width: 5.5rem;
  margin: 0 15px;
}

#txt-logo {
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  
}

/* BARRA DE NAVEGACAO */

nav, .fundo {
  background-color:var(--cor0);
}

#navbarNav {
  padding: 0.5rem;
  margin: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  text-align: justify;
}

/* underline on hover */

.navbar-light .navbar-nav .nav-link {
  background-image: 
  linear-gradient(
    transparent 0%,
    transparent 90%,
    rgb(0, 0, 0) 90%,
    rgb(0, 0, 0) 100%
  );

background-repeat: no-repeat;
background-size: 0% 100%;
background-position-x: right;

transition: background-size 300ms;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

#navbarNav a {
  margin: 0 0.4rem;
}

/* Footer */
